.header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 42px;
	width: 100%;
	background-color: #5e9ed9;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3), 0 4px 15px 0 rgba(0, 0, 0, 0.10);
    z-index: 1000;
}
ul.navbar {
	display: inline;
	margin: 0;
	padding: 0;
    list-style-type: none;
}
ul.navbar li {
    padding: 0 10px;
}
ul.navbar li:hover {
	background-color: #1e80da;
}
ul.navbar a {
	text-decoration: none;
	line-height: 42px;
	font-size: 23px;
	color: #ffffff;
}
ul.navbar li.right {
    float: right;
}
ul.navbar li.left {
    float: left;
}
div.title {
	position: fixed;
	top: 0px;
	width: 100%;
	margin: auto;
	text-align: center;
    pointer-events: none;
}
span.title {
	color: #ffffff;
	font-size: 23px;
	line-height: 42px;
}
.container {
	width: 100%;
	margin: auto;
	margin-top: 42px;
}
@media screen and (min-width: 1000px) {
	.container {
		width: 80%;
	}
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
	.header {
		zoom: 2.0;
	}
}