.mainbody {
	padding:60px 5%;
	position:relative;
	background-color:white;
}
.headline {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	font-size:40px;
	position:relative;
	text-align:center;
}
.author {
	font-size:23px;
	position:relative;
	text-align:center;
}
.bodytext {
	margin:0 auto;
	font-size:25px;
	position:relative;
	text-align:left;
	text-indent:2em;
}
.bodytext p {
	line-height: 1.7;
}
.bodytext img {
    display: block;
	width: 100%;
	margin: 10px auto;
}
ul.contactlinks {
	display:inline-block;
    list-style-type: none;
    text-align: left;
}
li.linkinfo {
	margin:0px 20px;
	padding:20px 5px;
	display:inline-block;
	font-size:20px;
    white-space: nowrap;
}
@media screen and (min-width: 1000px) {
	.bodytext img {
	    display: block;
		width: 80%;
		margin: 10px auto;
	}
	.mainbody {
		margin:50px 5%;
	}
}